body, h1, h2, h3, p, button {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  backdrop-filter: blur(10px);

  position: fixed;
  top: 0;
  width: 100%;
}

.button {
  border: none;
  border-radius: 10px;
  margin-left: 15px;
  padding: 5px 15px;
}

/* fix issue where 100% width is cutting off last button */
#navbar-button4 {
    margin-right: 30px;
}

#navbar-divider {
  flex: 1
}